<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Crear Usuario</title>
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <h2>Crea un Usuario</h2>
            <form action="/admin/users/create" method="POST" class="containerCreate">
                <div class="formu">
                    <label for="name">Nombre:</label >
                    <p><input type="text" name="name" id="" required></p>
                    <label for="email">Email </label>
                    <p><input type="text" name="email" id="" required> </p>
                    <label for="password">Contraseña: </label>
                    <p><input type="text" name="password" id="" required></p>
                    <label for="phone">Celular: </label>
                    <p><input type="number" name="phone" id="" required></p>
                    <label for="card">Tarjeta: </label>
                    <p><input type="number" name="card" id="" required></p>
                    <label for="imagen">Imagen: </label>
                    <p><input type="text" name="imagen" id="" required></p>
                    <label for="direccion">Direccion: </label>
                    <p><input type="text" name="direccion" id="" required></p>
                    <p>
                        <label for="categoryId">Categoria: </label><br>
                        <select name="categoryId" id="" required>
                            <option value="" disabled selected> - Elige Categoría - </option>
                            <% categoryUser.forEach(category => { %>
                            <option value="<%= category.id %>"> <%= category.name %></option>
                            <% }) %>
                        </select>
                    </p>
                    <p>
                        <label for="departamentoId">Deparamento: </label><br>
                        <select name="departamentoId" id="" required>
                            <option value="" disabled selected> - Elige Deparamento - </option>
                            <% departamento.forEach(departamento => { %>
                            <option value="<%= departamento.id %>"> <%= departamento.name %></option>
                            <% }) %>
                        </select>
                    </p>
                    <button type="submit">Guardar Producto</button>
                </div>
            </form>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>