<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/stylesRegistro.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>Crear Usuario</title>
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>

            <div class="conteiner_createuser">
                <form action="/admin/users/create" method="POST" class="formulario">
                    <h2 class="titulo">Crea un Usuario</h2><br>
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="" placeholder="Introduce tu nombre" required>
                    <label for="email">Email </label>
                    <input type="text" name="email" id="" placeholder="correo electronico" required>
                    <label for="password">Contraseña: </label>
                    <input type="text" name="password" id="" placeholder="contraseña" required>
                    <label for="phone">Celular: </label>
                    <input type="number" name="phone" id="" placeholder="123 456 789" required>
                    <label for="card">Tarjeta: </label>
                    <input type="number" name="card" id="" placeholder="123 456 789" required></p>
                    <label for="imagen">Imagen: </label>
                    <input type="text" name="imagen" id="" required></p>
                    <label for="direccion">Direccion: </label>
                    <input type="text" name="direccion" id="" placeholder="clle #2 cra 23 -tv 15" required></p>
                    <br>
                    <br>


                    <div class="columnas">
                        <p>
                            <label for="categoryId">Categoria: </label><br>
                            <select name="categoryId" id="" required>
                                <option value="" disabled selected> - Elige Categoría - </option>
                                <% categoryUser.forEach(category=> { %>
                                    <option value="<%= category.id %>">
                                        <%= category.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </p>
                        <p>
                            <label for="departamentoId">Deparamento: </label><br>
                            <select name="departamentoId" id="" required>
                                <option value="" disabled selected> - Elige Deparamento - </option>
                                <% departamento.forEach(departamento=> { %>
                                    <option value="<%= departamento.id %>">
                                        <%= departamento.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </p>
                    </div><br>
                    <br>

                    <input type="submit" value="Guardar producto" id="enviar"><br>

                </form>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>