<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/stylesRegistro.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>Crear Usuario</title>
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>

            <div class="conteiner_register">



                <form action="/admin/users/create" method="POST" class="formulario">
                    <h2 class="titulo">Crea un usuario</h2><br>
                    <h3 class="subtitulo">Crea un usuario , llena los datos personales y define su rol
                        su rol, ya sea de usuario o de cliente.
                    </h3><br>

                    <ul id="errores">

                    </ul>

                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name" required>
                    <label for="email">Email </label>
                    <input type="text" name="email" id="email" required>
                    <label for="password">Contraseña: </label>
                    <input type="text" name="password" id="password" required>
                    <label for="phone">Celular: </label>
                    <input type="number" name="phone" id="phone" required>
                    <label for="card">Tarjeta: </label>
                    <input type="number" name="card" id="card" required>
                    <label for="imagen">Imagen: </label>
                    <input type="file" name="image" id="image"><br>
                    <label for="direccion">Direccion: </label>
                    <input type="text" name="direccion" id="direccion" required>
                    <div class="columnas">
                        <p>
                            <label for="categoryId">Categoria: </label><br>
                            <select name="categoryId" id="" required>
                                <option value="" disabled selected> - Elige Categoría - </option>
                                <% categoryUser.forEach(category=> { %>
                                    <option value="<%= category.id %>">
                                        <%= category.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </p>
                        <p>
                            <label for="departamentoId">Deparamento: </label><br>
                            <select name="departamentoId" id="" required>
                                <option value="" disabled selected> - Elige Deparamento - </option>
                                <% departamento.forEach(departamento=> { %>
                                    <option value="<%= departamento.id %>">
                                        <%= departamento.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </p>
                    </div>
                    <input type="submit" value="Crear Usuario" id="enviar"><br>

                </form>

            </div>

        </main>
        <%- include("../partials/footer.ejs") %>

            <script src="/JS/createUsers.js"></script>
</body>

</html>