<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesRegistro.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>Modificar usuarios</title>
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <div class="conteiner_createuser">

                <form action="/admin/users/update/<%= User.id %>" class="formulario" method="POST">
                    <h2 class="titulo">Actualiza usuarios</h2>

                    <ul id="errores">

                    </ul>

                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="" value="<%= User.name %>" required>
                    <label for="email">Email </label>
                    <input type="text" name="email" id="" value="<%= User.email %>" required>
                    <label for="password">Contraseña: </label>
                    <input type="text" name="password" id="" value="<%= User.password %>" required>
                    <label for="phone">Celular: </label>
                    <input type="number" name="phone" id="" value="<%= User.phone %>" required>
                    <label for="card">Tarjeta: </label>
                    <input type="number" name="card" id="" value="<%= User.card %>" required>
                    <label for="imagen">Imagen: </label>
                    <input type="file" name="imagen" id="" value="<%= User.imagen %>" required>
                    <label for="direccion">Direccion: </label>
                    <input type="text" name="direccion" id="" value="<%= User.direccion %>" required>
                    <br>
                    <br>
                    <div class="columnas">

                        <p>
                            <label for="categoryId">Categoria: </label><br>
                            <select name="categoryId" id="" required>
                                <option value="<%= IdCategory.id %>" disabled selected>
                                    <%= IdCategory.name %>
                                </option>
                                <% category.forEach(category=> { %>
                                    <option value="<%= category.id %>">
                                        <%= category.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </p>
                        <p>
                            <label for="departamentoId">Deparamento: </label><br>
                            <select name="departamentoId" id="" required>
                                <option value="<%= IdDepartamento.id %>" disabled selected>
                                    <%= IdDepartamento.name %>
                                </option>
                                <% departamento.forEach(departamento=> { %>
                                    <option value="<%= departamento.id %>">
                                        <%= departamento.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </p>
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Guardar producto" id="enviar"><br>


                </form>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>

            <script src="/JS/usersEdit.js"></script>
</body>

</html>