<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>altisport</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>


<body>
    <%- include("../partials/header.ejs") %>
        <%- include("../partials/baner.ejs") %>



            <!-- <section class="categorias">
                <article>

                    <img src="/img/bicicleta.png" alt="categorias bicicleta">
                    <div><a href="/products/bicicletas">
                            <h3>Bicicletas</h3>
                        </a></div>
                </article>

                <article>

                    <img src="/img/zapato.png" alt="categorias zapatos">
                    <div>
                        <a href="/products/tenis">
                            <h3>Tenis</h3>
                        </a>
                    </div>
                </article>

                <article>

                    <img src="/img/balones.png" alt="categorias balones">
                    <div>
                        <a href="/products/balones">
                            <h3>Balones</h3>
                        </a>
                    </div>
                </article>

                <article>

                    <img src="/img/ropa.png" alt="categorias ropa">
                    <div>
                        <a href="/products/ropa">
                            <h3>Ropa</h3>
                        </a>
                    </div>

                </article>
            </section> -->


            <!-- seccion categorias dos -->
            <div class="contenedorcategorias">
                <h2 class="titulocategorias">Categoria</h2>
                <div class="categorys">
                    <a href="/products/bicicletas">
                        <div class="cardcategory">
                            <img class="iconnormal1" src="/img/iconnormal.png" alt="">
                            <img class="iconhover" src="/img/inconhover.png" alt="">
                            <h3 class="categorytitle">Bicicletas</h3>
                        </div>
                    </a>
                    <a href="/products/tenis">
                        <div class="cardcategory">
                            <img class="iconnormal2" src="/img/iconnormal2.png" alt="">
                            <img class="iconhover2" src="/img/inconhover2.png" alt="">
                            <h3 class="categorytitle">Tennis</h3>
                        </div>
                    </a>
                    <a href="/products/balones">
                        <div class="cardcategory">
                            <img class="iconnormal3" src="/img/iconnormal3.png" alt="">
                            <img class="iconhover3" src="/img/inconhover3.png" alt="">
                            <h3 class="categorytitle">Balones</h3>
                        </div>
                    </a>
                    <a href="/products/ropa">
                        <div class="cardcategory">
                            <img class="iconnormal4" src="/img/iconnormal4.png" alt="">
                            <img class="iconhover4" src="/img/inconhover4.png" alt="">
                            <h3 class="categorytitle">Ropa</h3>
                        </div>
                    </a>




                </div>

            </div>

            <!-- <div class="categorys">
                <div class="categorycard">
                    <div class="categorycircle">
                        <i class="fas fa-bicycle"></i>
                    </div>

                    <h3 class="categorytitle">Bicicletas</h3>
                </div>
                <div class="categorycard">
                    <div class="categorycircle">
                        <i class="fas fa-person-biking"></i>
                    </div>
                    <h3 class="categorytitle">Tennis</h3>
                </div>
                <div class="categorycard">
                    <div class="categorycircle">
                        <svg class="iconcat" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 74.93 65.98">
                            <defs>
                                <style>
                                    .iconcat {
                                        fill: none;
                                        stroke: #222831;
                                        stroke-linecap: square;
                                        stroke-miterlimit: 10;
                                        stroke-width: 2.63px;
                                    }

                                    .iconcat:hover {
                                        fill: none;
                                        stroke: #3cf10e;
                                        stroke-linecap: square;
                                        stroke-miterlimit: 10;
                                        stroke-width: 2.63px;
                                    }
                                </style>
                            </defs>
                            <title>Untitled-2</title>
                            <g id="_8" data-name="8">
                                <path class="cls-1"
                                    d="M237.89,224.55l3.25,1.55a28.9,28.9,0,0,0,5.52,1.65,12.7,12.7,0,0,0,4.8,0,3.06,3.06,0,0,1,1.81.25,3,3,0,0,1,1.72,2.68s4.25,15.2,19.9,27.69c4.13,3.3-.45-.45,4.82,4,9.53,8,4,14.85,4,14.85"
                                    transform="translate(-211.7 -216.22)" />
                                <path class="cls-1"
                                    d="M213.92,247.9l4.54-9.51,7.22-15.1.55-1.16a8.41,8.41,0,0,1,5.54-4.53h0a2.11,2.11,0,0,1,2.61,1.7c.05.33.08.64.12.87h0"
                                    transform="translate(-211.7 -216.22)" />
                                <path class="cls-1" d="M231.61,251c1.75-6-3.81-10.84-12.1-14.8"
                                    transform="translate(-211.7 -216.22)" />
                                <path class="cls-1"
                                    d="M232.73,264.58a8,8,0,0,1-6.87-.39l-8.58-5.1a8.52,8.52,0,0,1-3.43-11l1.44-3c-.29,1,.53,6.58,38.07,23.51,33.79,15.23,31.4,6.73,31.4,6.73s-2.13,5.05-5.41,5.37c-10.75,1.05-20.59-.91-42.85-11.41"
                                    transform="translate(-211.7 -216.22)" />
                                <path class="cls-1" d="M215.38,244.84l-.09.19A.59.59,0,0,1,215.38,244.84Z"
                                    transform="translate(-211.7 -216.22)" />
                                <line class="cls-1" x1="52.33" y1="33.65" x2="46.89" y2="32.94" />
                                <line class="cls-1" x1="47.79" y1="27.68" x2="42.35" y2="26.97" />
                                <line class="cls-1" x1="38.93" y1="21.13" x2="44.37" y2="21.84" />
                            </g>
                        </svg>
                    </div>
                    <h3 class="categorytitle">Balones</h3>
                </div>
                <div class="categorycard">
                    <div class="categorycircle">
                        <i class="fa-solid fa-bicycle"></i>
                    </div>
                    <h3 class="categorytitle">Ropa</h3>
                </div> 
            </div>-->





            <!-- seccion de productos -->

            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Basado en tu última visita</h2>
                    </div>

                    <!-- Show the "visited" products -->

                    <% products.forEach( product=> { /* let finalPrice = (product.price
                        *((100-product.discount)/100)).toFixed(0); */%>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <section class="product-box">
                                <a href="/products/product-info/<%= product.id%>">
                                    <figure class="product-box_image">
                                        <img src="/img/<%= product.imagen%>" alt="imagen de producto">
                                    </figure>
                                    <article class="product-box_data">
                                        <h2>
                                            $ <%= product.price%>
                                        </h2>
                                        <span>
                                            <%= product.discount%> % OFF
                                        </span>
                                        <p>
                                            <%= product.name%>
                                        </p>
                                        <i class="fas fa-truck"></i>
                                    </article>
                                </a>
                            </section>
                        </div>
                        <% }); %>
                </div>
            </div>

            <!-- /ultima visita -->

            <!-- Ofertas -->
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Ofertas</h2>
                    </div>
                    <!-- Show the "in-sale" products -->

                    <% inSale.forEach( product=> {/* let finalPrice = (product.price *
                        ((100-product.discount)/100)).toFixed(0); */%>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <section class="product-box">
                                <a href="/products/product-info/<%= product.id%>">
                                    <figure class="product-box_image">
                                        <img src="/img/<%= product.imagen%>" alt="imagen de producto">
                                    </figure>
                                    <article class="product-box_data">
                                        <h2>
                                            $ <%= product.price%>
                                        </h2>
                                        <span>
                                            <%= product.discount%> % OFF
                                        </span>
                                        <p>
                                            <%= product.name%>
                                        </p>
                                        <i class="fas fa-truck"></i>
                                    </article>
                                </a>
                            </section>
                        </div>
                        <% }); %>
                </div>
            </div>
            <!-- /Ofertas -->



            <%- include("../partials/footer.ejs") %>

</body>

</html>